<p>Contenu de twig/inclus.html.twig</p>

{% if test is defined %}
    <p>Accès</p>
{% else %}
    <p>Pas d'accès</p>
{% endif %}

{% if foo is defined %}
    <p>Accès</p>
{% else %}
    <p>Pas d'accès</p>
{% endif %}